PAYMENT_PORT=3002
PAYMENT_HOST=localhost

ORDER_PORT=3005
ORDER_HOST=localhost

STRIPE_SECRET_KEY=


STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel
STRIPE_ENPOINT_SECRET=